<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- html 코드는 id가 app인 태그 안에서 작업 -->
        <div id="title">
            <div id="title-Search">
                <input type="text" class="inputBox">
                <span class="material-symbols-outlined search iconSmall">search</span>
            </div>
            <div id="WebName">
                <a @click="fnMain" class="noDeco">
                    <span class="nanum-gothic-regular">비전툴 </span>  
                    <span class="nanum-gothic-extrabold"> VISIONTOOL</span>
                </a>
            </div>
            <div id="rightBox">
                <span class="rightBox-Text" v-if="userId == ''" @click="fnLoginPage">로그인 </span>
                <span v-if="userId != ''" class="rightBox-Text" @click="fnLogout">로그아웃 </span>
                <span v-if="userId != ''" class="rightBox-Text" @click="fnMyPage">마이페이지 </span>
                <span class="material-symbols-outlined rightBox-icon">shopping_cart</span>
            </div>
        </div>
        <div id="category">
            <span class="tool" @click="fnShowTool('')">전체보기</span>
            <span class="tool" @click="fnShowTool('전동공구')">전동공구</span>
            <span class="tool" @click="fnShowTool('수공구')">수공구</span>
            <span class="tool" @click="fnShowTool('측량공구')">계측공구</span>
        </div>
        <div id="container">

        </div>
        <div class="footer gray">
            <div>
                <span class="material-symbols-outlined iconSmall">call</span>
                032-515-8024
            </div>
            <div>
                <span class="material-symbols-outlined">location_on</span>
                길주로 416-4 (길주로 416-4) 지번 : 산곡동 119-33
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                loginFlg : false,
                userId : ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnList: function () {
                let self = this;
                let param = {};
                $.ajax({
                    url: "http://localhost:3009/",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {

                    }
                });
            },
            fnLoginPage(){
                location.href="login.html";
            },
            fnMain(){
                let self = this;
                location.href=`main.html?userId=${self.userId}`;
            },
            fnShowTool(type){
                let self = this;
                location.href=`toolList.html?userId=${self.userId}&type=${type}`;
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
        }
    });

    app.mount('#app');
</script>