<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정 - 비전툴</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <header id="header">
            <div id="title">
                <div id="WebName">
                    <a @click="fnMain" class="noDeco">
                        <span class="material-symbols-outlined logo-icon">construction</span>
                        <span class="nanum-gothic-regular">비전툴 </span>
                        <span class="nanum-gothic-extrabold"> VISIONTOOL</span>
                    </a>
                </div>
                <div id="title-Search">
                    <input type="text" class="inputBox" v-model="search" @keyup.enter="fnSearch" placeholder="검색어를 입력하세요">
                    <span class="material-symbols-outlined search iconSmall" @click="fnSearch">search</span>
                </div>
                <div id="rightBox">
                    <span class="rightBox-Text" @click="fnLogout">로그아웃</span>
                    <span class="rightBox-Text" @click="fnMyPage">마이페이지</span>
                    <span class="material-symbols-outlined rightBox-icon" @click="fnGoCart">shopping_cart</span>
                </div>
            </div>
        </header>

        <main id="container">
            <div class="mypage-layout">
                <nav class="mypage-sidebar">
                    <ul>
                        <li><a href="#" @click.prevent="fnMyPage">내 정보</a></li>
                        <li><a href="#" @click.prevent="fnEditInfoPage" class="active">내 정보 수정</a></li>
                        <li><a href="#" @click.prevent="fnOrderList">주문 내역</a></li>
                        <li><a href="#" @click.prevent="fnQNA">문의하기</a></li>
                    </ul>
                </nav>

                <div class="mypage-content">
                    <div class="nanum-gothic-extrabold detailTitle">내 정보 수정</div>
                    <div class="edit-form-box">
                        <div class="input-group">
                            <label>비밀번호</label>
                            <input type="password" v-model="info.PASSWORD" placeholder="새 비밀번호를 입력하세요">
                        </div>
                         <div class="input-group">
                            <label>닉네임</label>
                            <input type="text" v-model="info.USERNAME" placeholder="닉네임을 입력하세요">
                        </div>
                        <div class="input-group">
                            <label>이메일</label>
                            <input type="text" v-model="info.EMAIL" placeholder="example@email.com">
                        </div>
                        <div class="input-group">
                            <label>전화번호</label>
                            <input type="text" v-model="info.PHONE_NUMBER" placeholder="'-' 없이 숫자만 입력">
                        </div>
                        <div class="input-group">
                            <label>주소</label>
                            <div class="input-with-button">
                                <input type="text" v-model="info.ADDRESS" placeholder="도로명주소" readonly>
                                <button class="btn btn-secondary" @click="execDaumPostcode">주소찾기</button>
                            </div>
                            <input type="text" v-model="userDetailAddr" placeholder="상세주소를 입력하세요" class="mt-10">
                        </div>
                        <div class="info-actions">
                            <button class="btn btn-primary" @click="fnEditInfo">수정 완료</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-info">
                    <span class="material-symbols-outlined iconSmall">call</span>
                    <span>032-515-8024</span>
                </div>
                <div class="footer-info">
                    <span class="material-symbols-outlined">location_on</span>
                    <span>인천광역시 부평구 길주로 416-4 (산곡동 119-33)</span>
                </div>
                 <div class="footer-info">
                    <span>(주)비전툴</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userId: "",
                userDetailAddr: "",
                info: {},
                search: ""
            };
        },
        methods: {
            fnInfo() {
                let self = this;
                $.ajax({
                    url: `http://localhost:3009/tools/checkid?userId=${self.userId}`,
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        self.info = data.info;
                        // 상세주소 분리 (예시: "도로명주소 (상세주소)")
                        const addressParts = self.info.ADDRESS.split(' (');
                        if (addressParts.length > 1) {
                            self.info.ADDRESS = addressParts[0];
                            self.userDetailAddr = addressParts[1].replace(')', '');
                        }
                    }
                });
            },
            fnEditInfo() {
                let self = this;
                let fullAddress = self.info.ADDRESS + (self.userDetailAddr ? ` (${self.userDetailAddr})` : '');
                let param = {
                    PASSWORD: self.info.PASSWORD,
                    EMAIL: self.info.EMAIL,
                    USERNAME: self.info.USERNAME,
                    PHONE_NUMBER: self.info.PHONE_NUMBER,
                    ADDRESS: fullAddress,
                    USER_ID: self.info.USER_ID
                };
                $.ajax({
                    url: "http://localhost:3009/tools/user/update",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        alert("수정이 완료되었습니다!");
                        self.fnMyPage();
                    }
                });
            },
            execDaumPostcode() {
                let self = this;
                new daum.Postcode({
                    oncomplete: function(data) {
                        self.info.ADDRESS = data.roadAddress;
                    }
                }).open();
            },
            fnEditInfoPage() { location.href = `edit-user.html?userId=${this.userId}`; },
            fnMyPage() { location.href = `mypage.html?userId=${this.userId}`; },
            fnOrderList() { location.href = `order-list.html?userId=${this.userId}`; },
            fnQNA() { location.href = `user-qna.html?userId=${this.userId}`; },
            fnLogout() { location.href = "main.html"; },
            fnMain() { location.href = `main.html?userId=${this.userId}`; },
            fnGoCart() { location.href = `cart-list.html?userId=${this.userId}`; },
            fnSearch() { location.href = `toolList.html?userId=${this.userId}&search=${this.search}`; }
        },
        mounted() {
            const queryParams = new URLSearchParams(window.location.search);
            this.userId = queryParams.get('userId') || '';
            if (!this.userId) {
                alert('로그인이 필요한 서비스입니다.');
                location.href = 'login.html';
                return;
            }
            this.fnInfo();
        }
    });
    app.mount('#app');
</script>