<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 상세 - 비전툴</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <header id="header">
            <div id="title">
                <div id="WebName">
                    <a @click="fnMain" class="noDeco">
                        <span class="material-symbols-outlined logo-icon">construction</span>
                        <span class="nanum-gothic-regular">비전툴 </span>
                        <span class="nanum-gothic-extrabold"> VISIONTOOL</span>
                    </a>
                </div>
                <div id="title-Search">
                    <input type="text" class="inputBox" v-model="search" @keyup.enter="fnSearch" placeholder="검색어를 입력하세요">
                    <span class="material-symbols-outlined search iconSmall" @click="fnSearch">search</span>
                </div>
                <div id="rightBox">
                    <span class="rightBox-Text" @click="fnLogout">로그아웃</span>
                    <span class="rightBox-Text" @click="fnMyPage">마이페이지</span>
                    <span class="material-symbols-outlined rightBox-icon" @click="fnGoCart">shopping_cart</span>
                </div>
            </div>
        </header>

        <main id="container">
            <div class="mypage-layout">
                <nav class="mypage-sidebar">
                    <ul>
                        <li><a href="#" @click.prevent="fnMyPage">내 정보</a></li>
                        <li><a href="#" @click.prevent="fnEditInfoPage">내 정보 수정</a></li>
                        <li><a href="#" @click.prevent="fnOrderList">주문 내역</a></li>
                        <li><a href="#" @click.prevent="fnQNA" class="active">문의하기</a></li>
                    </ul>
                </nav>

                <div class="mypage-content">
                    <h2 class="detailTitle nanum-gothic-extrabold">문의 상세 보기</h2>
                    
                    <div class="qna-view-box">
                        <div class="qna-header">
                            <h3 class="qna-title">{{ qnaInfo.TITLE }}</h3>
                            <div class="qna-meta">
                                <span>작성자: {{ userId }}</span>
                                <span>작성일: {{ formatDate(qnaInfo.CDATETIME) }}</span>
                            </div>
                        </div>
                        <div class="qna-content">
                            {{ qnaInfo.CONTENTS }}
                        </div>
                    </div>

                    <div class="qna-answer-box">
                        <div v-if="qnaInfo.ANSWER">
                            <div class="qna-header">
                                <h3 class="qna-title"><span class="material-symbols-outlined answer-icon">subdirectory_arrow_right</span> 답변 내용</h3>
                                <div class="qna-meta">
                                    <span>답변일: {{ formatDate(qnaInfo.ANSWER_CDATETIME) }}</span>
                                </div>
                            </div>
                            <div class="qna-content">
                                {{ qnaInfo.ANSWER }}
                            </div>
                        </div>
                        <div v-else class="no-answer">
                            <span class="material-symbols-outlined">hourglass_empty</span>
                            <p>아직 답변이 등록되지 않았습니다.</p>
                        </div>
                    </div>

                    <div class="view-actions">
                        <button class="btn btn-secondary" @click="fnQNA">목록으로 돌아가기</button>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-info">
                    <span class="material-symbols-outlined iconSmall">call</span>
                    <span>032-515-8024</span>
                </div>
                <div class="footer-info">
                    <span class="material-symbols-outlined">location_on</span>
                    <span>인천광역시 부평구 길주로 416-4 (산곡동 119-33)</span>
                </div>
                 <div class="footer-info">
                    <span>(주)비전툴</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                userId: "",
                qnaId: "",
                qnaInfo: {},
                search: ""
            };
        },
        methods: {
            fnQNAInfo() {
                let self = this;
                let param = { qnaId: self.qnaId };
                $.ajax({
                    url: "http://localhost:3009/tools/qna/info",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        self.qnaInfo = data.info;
                    }
                });
            },
            formatDate(datetime) {
                return datetime ? datetime.split('T')[0] : 'N/A';
            },
            fnQNA() {
                location.href = `user-qna.html?userId=${this.userId}`;
            },
            fnEditInfoPage() { location.href = `edit-user.html?userId=${this.userId}`; },
            fnMyPage() { location.href = `mypage.html?userId=${this.userId}`; },
            fnOrderList() { location.href = `order-list.html?userId=${this.userId}`; },
            fnLogout() { location.href = "main.html"; },
            fnMain() { location.href = `main.html?userId=${this.userId}`; },
            fnGoCart() { location.href = `cart-list.html?userId=${this.userId}`; },
            fnSearch() { location.href = `toolList.html?userId=${this.userId}&search=${this.search}`; }
        },
        mounted() {
            const queryParams = new URLSearchParams(window.location.search);
            this.userId = queryParams.get('userId') || '';
            this.qnaId = queryParams.get('qnaId') || '';
            if (!this.userId || !this.qnaId) {
                alert('잘못된 접근입니다.');
                location.href = `mypage.html?userId=${this.userId}`;
                return;
            }
            this.fnQNAInfo();
        }
    });
    app.mount('#app');
</script>